<footer>
  <div style="border-top: black solid 1px; margin-left: auto; margin-right: auto; width: 85%; padding-top: 28px; display: flex;">
    <a routerLink=""><img src="../../../assets/logo.png" alt="logo" style="margin-left: 40px; height: 64px; cursor: pointer;"></a>

    <div style="display: flex; flex-direction: column;">
      <div style="display: flex;">
        <p class="footer-tab" style="margin-left: 100px;">Terms of Use</p>
        <p class="footer-tab">Privacy Policy</p>
        <p class="footer-tab">Contact Us</p>
      </div>
      <div style="display: flex;">
        <fa-icon [icon]="facebook" size="lg" style="margin-left: 100px;"></fa-icon>
        <fa-icon [icon]="ig" size="lg"></fa-icon>
        <fa-icon [icon]="linkedin" size="lg"></fa-icon>
      </div>
    </div>
  </div>
  <p style="color: #A9A6A6; text-align: center; margin-top: 56px; font-size: 13px;">© 2021 Tiffany Chan. All rights reserved</p>
</footer>
