footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 185px;
}

.footer-tab {
  margin-top: 0;
  font-size: 16px;
  margin-left: 50px;
  cursor: pointer;
}

fa-icon {
  color: #3D6B4F;
  font-size: 16px;
  margin-left: 20px;
  cursor: pointer;
}
