.header-tab {
  font-size: 19px;
  font-family: 'Manrope';
  color: #878787;
  font-weight: bold;
  margin-right: 35px;
  cursor: pointer;
}

.button {
  border-radius: 25px;
  background-color: #30641E;
  border: none;
  height: 50px;
  width: 200px;
  margin-right: 40px;
  align-self: center;
  cursor: pointer;
}
