<nav class="navbar navbar-expand-lg">
  <div class="container-fluid" style="display: flex; justify-content: space-between; align-items: center;">
    <a href='' class="navbar-brand">
      <img src="../../../assets/logo.png" alt="logo" style="height: 44px; margin-left: 40px; cursor: pointer;">
    </a>

    <div style="display: flex;">
      <a routerLink="/menu" routerLinkActive="active"><p class="header-tab">Menu</p></a>
      <p class="header-tab">About</p>
      <img src="../../../assets/basket.svg" alt="basket" style="color: #878787; height: 24px; margin-right: 35px; align-self: center; cursor: pointer;">
      <button type="button" class="btn button">
        <p style="color: white; font-weight: bold; margin: 0; font-size: 13px;">Sign up / Log in</p>
      </button>
    </div>
  </div>
</nav>

