<footer style="margin-bottom: 30px;">
  <div style="border-top: black solid 1px; margin-left: auto; margin-right: auto; width: 85%; padding-top: 28px; display: flex; flex-direction: column; align-items: flex-start;">
    <a routerLink=""><img src="../../../assets/logo.png" alt="logo" style="width: 100px; cursor: pointer;"></a>
    <p style="color: #A9A6A6; text-align: left; margin-top: 30px; font-size: 13px; margin-bottom: 30px;">© 2021 Tiffany Chan. All rights reserved</p>

    <div style="display: flex;">
      <div style="display: flex; flex-direction: column;">
        <p class="sitemap-link">Terms of Use</p>
        <p class="sitemap-link">Privacy Policy</p>
        <p class="sitemap-link">Contact Us</p>
      </div>
      <div style="display: flex; margin-left: 100px;">
        <fa-icon [icon]="facebook" size="lg"></fa-icon>
        <fa-icon [icon]="ig" size="lg"></fa-icon>
        <fa-icon [icon]="linkedin" size="lg"></fa-icon>
      </div>
    </div>
  </div>
</footer>
