<app-mobile-header></app-mobile-header>

<!-- TITLE HEADER -->
<div class="container-fluid title-mobile-container flex-col-center">
  <img src="../../assets/food1.jpg" style="height: 70%; width: 70%; border-radius: 30px; margin-bottom: 20px;">
  <p style="font-size: 33px; font-weight: 900; color: #30641E; text-align: center; margin-bottom: -1.5px; letter-spacing: -1px;">Healthy delicious meals, <span style="color: #142B0C;">right at your doorstep.</span></p>
  <p style="font-weight: 500; font-size: 3.2vw; color: #878787; text-align: center; margin-top: 10px;">Feeding your body the good stuff has never been easier.</p>
  <button type="button" class="btn button">Explore Menu</button>
</div>

<!-- TODO: STATISTICS -->

<!-- POINTS -->
<div class="flex-col-center" style="padding: 60px;">
  <p style="font-weight: 900; font-size: 6vw; color: #142B0C; margin-bottom: 50px;">why <span style="color: #30641E;">the good stuff</span></p>

  <div class="flex-col-center">
    <img src="../../assets/delicious.svg" alt="delicious" style="width: 50%; height: 50%; margin-bottom: 9px;">
    <p style="font-size: 23px; font-weight: 900; color: #30641E;">Delicious</p>
    <p class="point-desc-mobile">Our expert chefs are always coming up with new menu ideas.</p>
  </div>

  <div class="flex-col-center" style="margin-top: 40px;">
    <img src="../../assets/healthy.svg" alt="healthy" style="width: 50%; height: 50%; margin-bottom: 9px;">
    <p style="font-size: 23px; font-weight: 900; color: #30641E;">Healthy</p>
    <p class="point-desc-mobile">No added sugar, fried foods, preservatives or MSG.</p>
  </div>

  <div class="flex-col-center" style="margin-top: 40px;">
    <img src="../../assets/convenient.svg" alt="convenient" style="width: 50%; height: 50%; margin-bottom: 9px;">
    <p style="font-size: 23px; font-weight: 900; color: #30641E;">Convenient</p>
    <p class="point-desc-mobile">No more planning, shopping, prepping and cleaning for you!</p>
  </div>
</div>

<div class="container-fluid flex-col-center test-container" style="padding: 60px 50px; background-color: #F0F0e5;">
  <p style="color: #142B0C; font-weight: 900; line-height: 43px; font-size: 27px; text-align: center; width: 88%;;">Real Stories from Real Customers</p>

  <div class="testimonial-card" style="margin-top: 40px;">
    <p style="font-size: 15px; font-weight: 500;">The food is really good and it helped me lose 7kg last month with its low-carb and low-cal options. Thank you good stuff!</p>
    <div style="display: flex; margin-top: 35px;">
      <img src="../../assets/avatars/laura.svg" alt="laura" style="height: 45px; width: 45px; margin-right: 15px;">
      <p style="font-size: 15px; font-weight: bold; line-height: 45px; margin-bottom: 0;">Laura</p>
    </div>
  </div>

  <div class="testimonial-card" style="margin-top: 40px;">
    <p style="font-size: 15px; font-weight: 500;">Ever so prompt and efficient. Fabulous customer service and great food quality!</p>
    <div style="display: flex; margin-top: 35px;">
      <img src="../../assets/avatars/vijay.svg" alt="vijay" style="height: 45px; width: 45px; margin-right: 15px;">
      <p style="font-size: 15px; font-weight: bold; line-height: 45px; margin-bottom: 0;">Vijay</p>
    </div>
  </div>

  <div class="testimonial-card" style="margin-top: 40px;">
    <p style="font-size: 15px; font-weight: 500;">Ever so prompt and efficient. Fabulous customer service and great food quality!</p>
    <div style="display: flex; margin-top: 35px;">
      <img src="../../assets/avatars/shannon.svg" alt="shannon" style="height: 45px; width: 45px; margin-right: 15px;">
      <p style="font-size: 15px; font-weight: bold; line-height: 45px; margin-bottom: 0;">Shannon</p>
    </div>
  </div>
</div>

<!-- CTA -->
<div class="cta flex-col-center" style="justify-content: center; padding: 67px 40px;">
  <p style="text-align: center; font-size: 25px; font-weight: 900;">Save your precious time, money and calories with <span style="color: #30641E;">the good stuff.</span></p>
  <button type="button" class="btn button-cta">
    <p style="color: white; font-weight: bold; margin: 0; font-size: 14px;">Get Started</p>
  </button>
</div>


<app-mobile-footer></app-mobile-footer>
