<div class="tile">
  <div style="position: relative; bottom: 55px;">
    <img [src]="foodItem.imagePath" alt="" style="height: 260px; width: 260px;">
    <div style="padding-right: 30px; padding-left: 30px;">
      <p style="font-size: 18px; font-weight: 900; text-align: center; margin-bottom: 7px;">{{foodItem.name}}</p>
      <p style="color: #878787; font-size: 12px; font-weight: 500; text-align: center; margin-bottom: 14px;">{{foodItem.summary}}</p>
      <p style="font-size: 18px; font-weight: 900; text-align: center;">${{foodItem.price}}</p>
    </div>
  </div>
  <fa-icon [icon]="plus" size="lg" style="color: white;"></fa-icon>
</div>
