<div class="container-fluid" style="background-color: #F0F0E5; height: 700px; padding: 100px;">
  <div class="row">
    <div class="col-6">
      <p style="font-weight: 800; font-size: 48px; letter-spacing: -1.5px; line-height: 70px;">
        <span style="color: #30641E">Healthy delicious<br>meals,</span> right at your<br>doorstep.
      </p>
    </div>
    <div class="col-4">
      <img src="../../assets/food1.jpg" alt="food" style="height: 350px; width: 350px; border-radius: 30px;">
    </div>
  </div>
</div>
