<!-- TITLE PART -->
<div class="container-fluid title-container">
  <div>
    <p style="font-weight: 800; font-size: 58px; letter-spacing: -0.6px; line-height: 60px;">
      <span style="color: #30641E">Healthy delicious<br>meals,</span> right at your<br>doorstep.
    </p>
    <p style="font-size: 18px; color: #878787; font-weight: 500; margin-top: 20px;">
      Feeding your body the good stuff has never been easier.
    </p>
    <a routerLink="/menu" routerLinkActive="active">
      <button type="button" class="button">Explore Menu</button>
    </a>
  </div>
  <img src="../../assets/food1.jpg" alt="food" class="shift-up" style="height: 490px; width: 490px; border-radius: 30px;">
</div>

<!-- TODO: STATISTIC -->

<!-- POINTS -->
<div style="margin-top: 50px;">
  <p style="text-align: center; font-weight: 900; font-size: 35px;">
    <span style="color: #142B0C;">why </span> <span style="color: #30641E;">the good stuff</span>
  </p>
  <div class="row" style="display: flex; justify-content: space-evenly; margin-top: 40px;">
    <div class="col-md-3 point-content">
      <img src="../../assets/delicious.svg" alt="icecream" style="height: 150px;">
      <p class="point-title">Delicious</p>
      <p class="point-description">Our expert chefs are always coming up with new menu ideas.</p>
    </div>
    <div class="col-md-3 point-content">
      <img src="../../assets/healthy.svg" alt="yoga" style="height: 150px;">
      <p class="point-title" style="color: #142B0C;">Healthy</p>
      <p class="point-description">No added sugar, fried foods, preservatives or MSG.</p>
    </div>
    <div class="col-md-3 point-content">
      <img src="../../assets/convenient.svg" alt="rollerskating" style="height: 150px;">
      <p class="point-title">Convenient</p>
      <p class="point-description">No more planning, shopping, prepping and cleaning for you!</p>
    </div>
  </div>
</div>

<!-- TESTIMONIALS -->
<div class="container-fluid testimonial-container">
  <div class="col-5" style="margin-left: 100px; display: flex; flex-direction: column; margin-right: 15px;">
    <p style="font-size: 40px; font-weight: 900; width: 90%;">Real Stories from Real Customers</p>

    <div class="testimonial" style="width: 250px; align-self: flex-end; margin-top: 40px;">
      <p style="font-size: 15px;">Have been ordering from TGS since 2017. TGS proves that healthy meals can be delicious without breaking the bank!</p>
      <div style="display: flex; margin-top: 35px;">
        <img src="../../assets/avatars/shannon.svg" alt="shannon" style="height: 45px; width: 45px; margin-right: 15px;">
        <p style="font-size: 15px; font-weight: bold; line-height: 45px;">Shannon</p>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="testimonial" style="width: 400px; margin-top: 50px;">
      <p style="font-size: 15px;">The food is really good and it helped me lose 7kg last month with its low-carb and low-cal options. Thank you good stuff!</p>
      <div style="display: flex; margin-top: 35px;">
        <img src="../../assets/avatars/laura.svg" alt="laura" style="height: 45px; width: 45px; margin-right: 15px;">
        <p style="font-size: 15px; font-weight: bold; line-height: 45px;">Laura</p>
      </div>
    </div>

    <div class="testimonial" style="width: 305px; margin-top: 30px;">
      <p style="font-size: 15px;">Ever so prompt and efficient. Fabulous customer service and great food quality!</p>
      <div style="display: flex; margin-top: 35px;">
        <img src="../../assets/avatars/vijay.svg" alt="vijay" style="height: 45px; width: 45px; margin-right: 15px;">
        <p style="font-size: 15px; font-weight: bold; line-height: 45px;">Vijay</p>
      </div>
    </div>
  </div>
</div>

<div class="cta" style="display: flex; flex-direction: column; height: 400px; justify-content: center;">
  <p style="text-align: center; font-size: 38px; font-weight: 900;">Save your precious time, money<br>and calories with <span style="color: #30641E;">the good stuff.</span></p>
  <button type="button" class="btn button-cta">
    <p style="color: white; font-weight: bold; margin: 0; font-size: 14px;">Get Started</p>
  </button>
</div>
